*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	border: none;
	background: none;
	outline: none;
}

button {
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	margin: 0;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

html {
	font-size: 10px;
}

body {
	background-color: white;
	font-family: "Montserrat";
	overflow-x: hidden;
	overflow-y: scroll;
}
body.fixed {
	overflow: hidden;
}

.main-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
}
.main-wrapper .content-wrapper {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.content-wrapper {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 5rem;
	margin: 2.5rem 0;
	max-width: 144rem;
	margin: 5rem auto;
}

.zoom-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 50rem;
	width: 100%;
	margin-right: auto;
	overflow: auto;
	gap: 2rem;
	overflow: auto;
}

.zoom-container {
	position: relative;
	margin: 0 auto;
	width: 50rem;
	min-width: 50rem;
	height: 40rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.zoom-container.mouse-over .zoom-lens {
	-webkit-animation: zoomAnimation 0.3s ease-in-out forwards;
	        animation: zoomAnimation 0.3s ease-in-out forwards;
}
.zoom-container .zoom-image {
	max-width: 100%;
	max-height: 100%;
}
.zoom-container .zoom-lens {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 139, 139, 0.3);
	border: 1px solid rgba(0, 139, 139, 0.8);
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.zoomed-container {
	width: 50rem;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-box-shadow: 0px 0px 0px 2px darkcyan;
	        box-shadow: 0px 0px 0px 2px darkcyan;
	background: rgba(255, 255, 255, 0.3);
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.zoomed-container.mouse-over {
	-webkit-animation: zoomAnimation 0.3s ease-in-out forwards;
	        animation: zoomAnimation 0.3s ease-in-out forwards;
}
.zoomed-container .zoomed-img {
	display: none;
	width: 100%;
	height: 100%;
}

.fullscreen-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	z-index: 10;
}
.fullscreen-container .fullscreen-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(31, 34, 37, 0.7);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.fullscreen-container .fullScreen-slider {
	max-width: 56rem;
	width: 100%;
	background: #ffffff;
	border-radius: 0.3rem;
	z-index: 1;
	overflow: hidden;
}
.fullscreen-container .slider-wrapper {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.fullscreen-container .slider-slide {
	width: 100%;
	aspect-ratio: 1.2/1;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	margin-right: 5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	overflow: hidden;
}
.fullscreen-container .slider-slide img {
	max-width: 100%;
	max-height: 100%;
}
.fullscreen-container .slider-arrows .arrow-wrapper {
	position: absolute;
	top: 50%;
	cursor: pointer;
	border-radius: 0.5rem;
	width: 8rem;
	height: 8rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.fullscreen-container .slider-arrows .arrow-wrapper:hover > div {
	background: rgba(0, 0, 0, 0.7);
	-webkit-filter: drop-shadow(0px 0px 2rem rgba(0, 0, 0, 0.7));
	        filter: drop-shadow(0px 0px 2rem rgba(0, 0, 0, 0.7));
}
.fullscreen-container .slider-arrows .arrow-wrapper > div {
	width: 50%;
	height: 50%;
	border-radius: 0.5rem;
	background: rgba(0, 0, 0, 0.5);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	pointer-events: none;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.fullscreen-container .slider-arrows .arrow-wrapper > div:hover svg path {
	fill: rgb(255, 255, 255);
}
.fullscreen-container .slider-arrows .arrow-wrapper svg {
	width: 75%;
	height: 75%;
}
.fullscreen-container .slider-arrows .arrow-wrapper svg path {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.fullscreen-container .arrow-right {
	right: 2.5rem;
}
.fullscreen-container .arrow-left {
	left: 2.5rem;
}
.fullscreen-container .close-btn {
	position: absolute;
	top: 2rem;
	right: 2rem;
	width: 3.6rem;
	height: 3.6rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	cursor: pointer;
	border-radius: 0.8rem;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 720px) {
	.fullscreen-container .fullScreen-slider {
		width: 95%;
	}
	.fullscreen-container .slider-arrows .arrow-wrapper {
		width: 6rem;
		height: 6rem;
	}
	.fullscreen-container .arrow-right {
		right: 1.5rem;
	}
	.fullscreen-container .arrow-left {
		left: 1.5rem;
	}
}
@-webkit-keyframes zoomAnimation {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}
@keyframes zoomAnimation {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}