@import '_base.scss';


.content-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	gap: 5rem;
	margin: 2.5rem 0;
	max-width: 144rem;
	margin: 5rem auto;
}

// .test-urls {
// 	display: flex;
// 	align-items: center;
// 	flex-direction: column;
// 	justify-content: space-between;
// 	gap: 1.6rem;
// 	font-size: 1.6rem;
// 	line-height: 1.2;
// 	font-weight: 600;
// 	margin: 2rem 0;

// 	input {
// 		width: 100%;
// 		max-width: 40rem;
// 		font-size: 1.6rem;
// 		box-shadow: 0px 0px 0px 1px darkcyan;
// 		border-radius: 1rem;
// 		padding: .4rem 1rem;
// 	}

// 	button {
// 		padding: .4rem 1rem;
// 		border-radius: 2rem;
// 		box-shadow: 0px 0px 4px darkcyan, 0px 0px 0 1px darkcyan;
// 	}
// }

.image-container {
	position: relative;
	margin: 0 auto;
	width: 50rem;
	height: 40rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	&.mouse-over {
		.zoom-lens {
			animation: zoomAnimation .3s ease-in-out forwards;
		}

		.zoomed-img {
			animation: zoomAnimation .3s ease-in-out forwards;
		}
	}

	.zoom-image {
		max-width: 100%;
		max-height: 100%;
	}

	.zoom-lens {
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(darkcyan, .3);
		border: 1px solid rgba(darkcyan, .8);
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}

	.zoomed-img {
		position: absolute;
		top: 0;
		right: 0;
		transform: translateX(110%);
		box-shadow: 0px 0px 0px 2px darkcyan;
		background: rgba(#ffffff, .3);
		visibility: hidden;
		opacity: 0;
		pointer-events: none;

		div {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			box-shadow: 0px 0px 0px 1px darkcyan;
		}
	}
}

.fullscreen-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;

	.fullscreen-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#1F2225, .7);
		transition: all .3s ease-in-out;
	}

	.fullScreen-slider {
		width: 56rem;
		background: #ffffff;
		border-radius: .3rem;
		z-index: 1;
		overflow: hidden;
	}

	.slider-wrapper {
		width: 100%;
		display: flex;
		align-items: stretch;
		transition: all .3s ease-in-out;
	}

	.slider-slide {
		width: 56rem;
		aspect-ratio: 1.2/1;
		flex-shrink: 0;
		margin-right: 5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.slider-arrows {
		>div {
			position: absolute;
			top: 50%;
			cursor: pointer;
			border-radius: .5rem;
			width: 8rem;
			height: 8rem;
			display: flex;
			align-items: center;
			justify-content: center;

			>div {
				width: 50%;
				height: 50%;
				border-radius: .5rem;
				background: rgba(#000000, .5);
				display: flex;
				align-items: center;
				justify-content: center;
				pointer-events: none;

				&:hover {
					svg {
						path {
							fill: rgb(255, 255, 255);
						}
					}
				}
			}

			svg {
				width: 75%;
				height: 75%;

				path {
					transition: all .3s ease-in-out;
				}
			}
		}
	}

	.arrow-right {
		right: 2.5rem;
	}

	.arrow-left {
		left: 2.5rem;
	}
}


@keyframes zoomAnimation {
	0% {
		visibility: hidden;
		opacity: 0;
	}

	100% {
		visibility: visible;
		opacity: 1;
	}
}