*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	border: none;
	background: none;
	outline: none;
}

button {
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	margin: 0;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

html {
	font-size: 10px;
}

body {
	background-color: white;
	font-family: "Montserrat";
	overflow-x: hidden;
	overflow-y: scroll;
}

.main-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
}
.main-wrapper .content-wrapper {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.content-wrapper {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 5rem;
	margin: 2.5rem 0;
}

.image-container {
	position: relative;
	margin: 0 auto;
	width: 50rem;
	height: 40rem;
	-webkit-box-shadow: 0px 0px 0px 5px darkcyan;
	        box-shadow: 0px 0px 0px 5px darkcyan;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	gap: 2rem;
}
.image-container.mouse-over .zoom-lens {
	-webkit-animation: zoomAnimation 0.3s ease-in-out forwards;
	        animation: zoomAnimation 0.3s ease-in-out forwards;
}
.image-container.mouse-over .zoomed-img {
	-webkit-animation: zoomAnimation 0.3s ease-in-out forwards;
	        animation: zoomAnimation 0.3s ease-in-out forwards;
}
.image-container:nth-of-type(3) img {
	width: 10rem;
	height: 30rem;
}

.zoom-image {
	width: 100%;
	max-width: 100%;
	height: auto;
	-webkit-box-shadow: 0px 0px 0px 1px darkcyan;
	        box-shadow: 0px 0px 0px 1px darkcyan;
}

.zoom-lens {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(213, 248, 235, 0.3);
	border: 1px solid rgba(203, 203, 203, 0.8);
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.zoomed-img {
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: translateX(110%);
	    -ms-transform: translateX(110%);
	        transform: translateX(110%);
	-webkit-box-shadow: 0px 0px 0px 2px rgb(160, 11, 219);
	        box-shadow: 0px 0px 0px 2px rgb(160, 11, 219);
	background: rgba(255, 255, 255, 0.3);
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}
.zoomed-img div {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-box-shadow: 0px 0px 0px 1px darkcyan;
	        box-shadow: 0px 0px 0px 1px darkcyan;
}

@-webkit-keyframes zoomAnimation {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes zoomAnimation {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}